@font-face {
  font-family: 'UnimedSans';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('UnimedSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'UnimedSans';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('UnimedSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'UnimedSans';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url('UnimedSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'UnimedSans';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('UnimedSans-Bold.ttf') format('truetype');
}
