<p-card>
  <div class="grid">
    <div class="col">
      <input type="text" pInputText />
      <p-float-label variant="in">
        <p-date-picker inputId="fromDate" showIcon iconDisplay="input" />
        <label for="fromDate">A partir de (dd/mm/aaa)</label>
      </p-float-label>
    </div>
    <div class="col">
      <input type="text" pInputText />
      <p-float-label variant="in">
        <p-date-picker inputId="toDate" showIcon iconDisplay="input" />
        <label for="toDate">Até (dd/mm/aaa)</label>
      </p-float-label>
    </div>
    <div class="col">
      <input type="text" pInputText />
    </div>
    <p-divider />
    <div>
      <p-button [outlined]="true" severity="secondary">Limpar filtros</p-button>
      <p-button>Buscar</p-button>
    </div>
  </div>
</p-card>
