@import url('assets/fonts/UnimedSlab/font-face.css');
@import url('assets/fonts/UnimedSans/font-face.css');

body {
  font-size: 1rem;
  font-family: 'UnimedSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #586880;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'UnimedSlab', serif;
  font-weight: 700;
  color: #009ddb;
}

.text-subtitle {
  font-family: 'UnimedSans', sans-serif;
  font-weight: 400;
}

span {
  color: #586880;
}
